@use "@/styles/Box.module" as Box;

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 2rem 1rem 2rem;
  border-bottom: 1px solid #cfcfcf;
  width: 100%;
  .title {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    h3 {
      font-size: 1.6rem;
      font-weight: 400;
    }
    .details {
      display: flex;
      gap: 0.6rem;
      font-size: 1.2rem;
      font-weight: 500;
    }
  }
}

.contentWrapper {
  height: 300px;
  overflow-y: scroll;

  .content {
    padding: 0.4rem 2rem 3rem 2rem;
    border-bottom: 1px solid #cfcfcf50;

    h3 {
      font-size: 1.4rem;
      padding: 0.6rem 0;
    }
    .time {
      color: #b9b9b9;
    }

    textarea {
      border-bottom: 1px solid #cfcfcf;
      word-wrap: break-word;
      max-height: 300px;
      width: 100%;
    }
  }
}
.confirmationDialog {
  position: absolute;
  top: 3rem;
  right: 1rem;
  display: flex;
  flex-direction: column;
  width: 10rem;
  border-radius: 10px;
  background: rgba(93, 93, 93, 0.4);
  box-shadow: 0px 0px 84px 0px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(17.668832778930664px);

  .delete {
    color: #e2453b;
  }

  button {
    &:nth-child(1) {
      border-bottom: 1px solid #898989;
    }
    display: flex;
    gap: 0.4rem;
    padding: 1rem 1rem;
    justify-content: space-between;
    span {
      display: block;
    }
  }
}

.editButtons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    @include Box.glassBox($fS: 1.6rem, $p: 0.4rem 1.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    span {
      line-height: 0;
    }
  }
}
