.menu {
  width: fit-content;
  position: fixed;
  top: 2rem;
  right: 2rem;
  flex-wrap: wrap;
  overflow: hidden;
  transition: height 0.3s;
  display: flex;
  flex-direction: column;

  &.active {
    height: auto;
  }

  .btnWrapper {
    @extend %btnStyle;
    transition: transform 0.3s, opacity 0.3s;
    transform: translateY(0);
    opacity: 1;

    &:nth-child(4) {
      i {
        padding-left: 5px;
      }
    }
  }
}

@for $i from 0 through 6 {
  .btnWrapper:nth-child(#{$i}):not(.mainBtn) {
    transition-delay: 0.1s;
    transform: translateY(-100%);
    opacity: 0;
    animation: appear 0.1s forwards;
    animation-delay: #{0.1 * $i}s;
  }

  .menu:not(.active) .btnWrapper:not(.mainBtn) {
    animation: disappear 0.2s forwards;
  }
}

.homeBtn {
  @extend %btnStyle;
  position: fixed;
  top: 2rem;
  left: 2rem;
}

.btnChildWrap {
  margin-top: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}

%btnStyle {
  width: 6rem;
  height: 6rem;
  border-radius: 1rem;
  border: var(--border-stroke);
  background: var(--radial-gradient);
  box-shadow: var(--border-shadow);
  display: inline-flex;
  align-items: center;
  a {
    margin: 0 auto;
  }
  .icon {
    display: block;
    margin: 0 auto;
    color: var(--white);
    font-size: 3rem;
  }
}

@mixin btnStyle(
  $bg-color: var(--radial-gradient),
  $text-color: var(--white),
  $w: 6rem,
  $h: 6rem,
  $shadow: var(--border-shadow),
  $border: var(--border-stroke),
  $color: var(--white),
  $fontS: 3rem,
  $fontW: 700,
  $borderR: 1rem
) {
  width: $w;
  height: $h;
  border-radius: $borderR;
  border: $border;
  background: $bg-color;
  box-shadow: $shadow;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: $fontS;
  font-weight: $fontW;
  transition: 200ms ease-in-out;
  a {
    font-weight: $fontW;
    font-size: $fontS;
    text-align: center;
    margin: 0 auto;
    display: block;
    width: $w;
  }
  .icon {
    display: block;
    margin: 0 auto;
    color: $color;
    font-size: $fontS;
  }
  &:disabled {
    color: #000000;
  }
}

@mixin glassBox() {
  background: var(--radial-gradient);
  border-radius: 1rem;
  padding: 0.6rem 1rem;
  color: var(--white);
  height: 100%;
}

@keyframes appear {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

@keyframes disappear {
  to {
    transform: translateY(-100%);
    opacity: 0;
  }
}
