@use "@/styles/Box.module" as Box;

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .contentWrapper {
    display: flex;
    flex-direction: column;
    height: 340px;
    padding: 0 2rem 3rem 2rem;

    label {
      border: solid 1px tomato;
    }
  }
}

.buttons {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    @include Box.glassBox($fS: 1.6rem, $p: 0.4rem 1.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    span {
      line-height: 0;
    }
  }
}
