@use "@/styles/Box.module" as Box;

.wrapper {
  width: 100%;
  height: 100%;
  position: relative;

  .close {
    position: absolute;
    right: 2rem;
    svg {
      font-size: 2.4rem;
      padding: 0.6rem;
      border-radius: 50%;
      outline: 1px solid #cfcfcf;
    }
  }

  .contentWrapper {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    height: 340px;
    padding: 0 2rem 3rem 2rem;
    overflow-y: scroll;

    label {
      width: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.6rem;
      input,
      select {
        border-bottom: 1px solid #cfcfcf;
        border-left: 1px solid #cfcfcf;

        width: 100%;
        padding-left: 1rem;
      }
    }
  }
}

.buttons {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: space-around;

  button {
    @include Box.glassBox($fS: 1.6rem, $p: 0.4rem 1.2rem);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.6rem;
    span {
      line-height: 0;
    }
  }
}
