.body {
  height: 100vh;
  width: 100%;
  padding: 10rem 1.4rem 12rem 1.4rem;
  font-size: 1.6rem;

  .worldsWrap {
    width: 100%;
    height: 98%;
    border: solid 1px tomato;
    overflow-y: scroll;

    .content {
      display: flex;
      width: 100%;
      text-align: center;
      padding-bottom: 1rem;

      a {
        display: block;
        border-radius: 50%;
      }

      .planet {
        width: 16rem;
        height: 16rem;
        border-radius: 50%;
        object-fit: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        border: solid 1px tomato;
      }
    }
  }
}

.left {
  justify-content: flex-start;
  padding-left: 3.6rem;
}

.right {
  justify-content: flex-end;
  padding-right: 3.6rem;
}
