@use "Box.module" as Box;

.header {
  font-size: 3rem;
  font-weight: 500;
}

.carouselWrapper {
  height: 78vh;
  width: 100%;
  position: relative;
}

.characterWrap {
  display: flex;
  position: absolute;
  border: solid 1px tomato;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
}

.carouselBtnWrapper {
  font-size: 3rem;
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 100;
  .button {
    position: fixed;
    top: 50%;
    @include Box.btnStyle($w: 6rem, $h: 6rem);
  }

  .left {
    left: 1.2rem;
  }

  .right {
    right: 1.2rem;
  }

  .select {
    @include Box.btnStyle($w: 20rem);
    position: absolute;
    align-items: center;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
  }
}
