@use "Box.module" as Box;

.body {
  padding-top: 10rem;
  width: 100%;
  height: 100vh;
  ul {
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    li {
      margin-bottom: 2rem;
      display: flex;
      justify-content: center;
      align-items: center;
      background: var(--glass-background);
      border: 0.5px solid #fff;
      box-shadow: var(--glass-effect);
      backdrop-filter: var(--glass-filter);
      width: 4rem;
      height: 4rem;
      border-radius: 50%;
    }
  }

  .createGroup {
    position: absolute;
    bottom: 9rem;
    left: 50%;
    transform: translateX(-50%);
    .create {
      @include Box.btnStyle($w: 18rem);
    }
  }
}
