@use "Box.module" as Box;

.body {
  margin-top: 10rem;
  width: 100%;
  height: 90vh;

  ul {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 3rem;
    justify-items: center;
    align-items: center;
    border: solid 1px tomato;
    height: 70%;
    font-size: 1.2rem;
    position: relative;

    li {
      overflow: hidden;
      white-space: nowrap;
      list-style: none;
      text-align: center;
      text-transform: uppercase;

      .contentWrapper {
        display: flex;
        flex-direction: column;
        align-items: center;

        .contentImg {
          display: flex;
          width: 10rem;
          height: 10rem;
          object-fit: cover;
          background-position: center;
          background-repeat: no-repeat;
          background-size: contain;
          border: solid 1px tomato;
        }

        p {
          font-size: 1.8rem;
          width: 10rem;
        }
      }
    }
  }

  .createGroup {
    position: absolute;
    bottom: 9rem;
    left: 50%;
    transform: translateX(-50%);

    .create {
      @include Box.btnStyle($w: 18rem);
    }
  }
}
