@use "Box.module" as Box;

.body {
  margin-top: 10rem;
  width: 100%;
  height: 90vh;

  ul {
    border: solid 1px tomato;
    height: 70%;
    font-size: 1.2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;

    li {
      display: flex;
      white-space: nowrap;
      justify-content: center;
      align-items: center;
      background: var(--glass-background);
      box-shadow: var(--glass-effect);
      backdrop-filter: var(--glass-filter);
      width: 5rem;
      height: 5rem;
      border-radius: 50%;
      position: absolute;
    }
  }

  .createGroup {
    position: absolute;
    bottom: 9rem;
    left: 50%;
    transform: translateX(-50%);

    .create {
      @include Box.btnStyle($w: 18rem);
    }
  }
}
