@use "Box.module" as Box;

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  gap: 2rem;
  .contentWrap {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    p {
      font-weight: 600;
      font-size: 1.6rem;
    }

    .textarea {
      height: 20rem !important;
      resize: none;
    }

    .input {
      @include Box.glassBox($w: 30rem);
    }
  }

  .capacity {
    border: var(--border-stroke);
    font-size: 1.6rem;
    padding: 0.6rem 2rem;
    border-radius: 5px;
    box-shadow: var(--border-shadow);
    background: rgba(15, 37, 79, 0.5);
    backdrop-filter: blur(10px);
    .currentUsers {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      p {
        font-family: "Play", sans-serif;
        color: var(--accent-clr);
      }
    }
  }

  .buttons {
    position: relative;
    bottom: -4rem;

    .expirationTag {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      color: #b9b9b9;
    }

    .create {
      @include Box.btnStyle($w: 18rem, $fontS: 1.8rem);
    }
  }
}
