@use "Box.module" as Box;

.form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  height: 100vh;
  text-align: center;
  gap: 2rem;

  .contentWrap {
    display: flex;
    flex-direction: column;
    gap: 0.6rem;

    p {
      font-weight: 600;
      font-size: 1.6rem;
    }

    .textarea {
      height: 20rem !important;
      resize: none;
    }

    .input {
      @include Box.glassBox($w: 30rem);
    }
  }

  .buttons {
    position: relative;
    bottom: -4rem;

    .expirationTag {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      color: #b9b9b9;
    }

    .create {
      @include Box.btnStyle($w: 18rem, $fontS: 1.8rem);
    }
  }
}

.capacity {
  position: absolute;
  right: 0;
  font-size: 1.8rem;
  background-image: url("/Frame/buttonFrame.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  width: 15rem;
  height: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  .currentUsers {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    p {
      font-family: "Play", sans-serif;
      color: var(--accent-clr);
    }
  }
}
