.footerWrap {
  position: absolute;
  left: 50%;
  top: 83vh;
  transform: translate(-50%, 50%);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 360px;
  height: 80px;
  justify-content: space-around;
  align-items: center;
  background: var(--radial-gradient);
  border: var(--border-stroke);
  border-radius: 1rem;
  box-shadow: var(--border-shadow);
  font-size: 3rem;
  color: var(--white);

  .footerItem {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    position: relative;

    .border {
      background: var(--footer-color);
      border-radius: 50%;
      width: 7rem;
      height: 7rem;
    }

    &:nth-child(2) a {
      padding-right: 0.3rem;
    }

    &:nth-child(1) a {
      padding-right: 0.3rem;
    }

    a {
      display: inline-block;
      border-radius: 50%;
      width: 5rem;
      height: 5rem;
      transition: 100ms ease-in-out;
      svg {
        vertical-align: middle;
      }
    }

    .active {
      position: relative;
      top: -4rem;

      .border {
        top: -1rem;
        right: -1rem;
        position: absolute;
        background: linear-gradient(180deg, #0e244e 0%, #245bc3 100%);
        height: 9rem;
        width: 9rem;
        border: var(--border-stroke);
        box-shadow: var(--border-shadow);
        z-index: -1;
      }

      a {
        z-index: 2;
        width: 7rem;
        height: 7rem;
        color: var(--footer-color);
        background: var(--white);
        font-size: 4rem;
        svg {
          margin-top: 1rem;
        }
      }
    }
  }
}
