@use "Box.module" as Box;

.bodyWrap {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
}

.contentWrap {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: column;
  gap: 4rem;
  margin: 0 auto;
  height: 100vh;
  font-size: 1.8rem;
  font-family: "Play", sans-serif;

  .logo {
    width: 180px;
    height: 90px;
    background: url(../../public/Logo/SpaceLang.svg);
    background-repeat: no-repeat;
    background-size: contain;
  }

  .inputWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    height: 34rem;
    position: relative;

    .frame {
      background-image: url("/Frame/inputFrame.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 0;
      pointer-events: none;
    }

    .title {
      font-weight: 800;
      font-size: 2.4rem;
      color: var(--input-clr);
      position: absolute;
      top: 2rem;
      left: 5rem;
    }

    .content {
      display: flex;
      flex-direction: column;

      label,
      p {
        font-weight: 800;
        color: var(--input-clr);
      }

      .input {
        background: var(--input-bg);
        border: var(--border-stroke);
        box-shadow: var(--border-shadow);
        border-radius: 10px;
        width: 29rem;
        height: 5rem;
        padding: 1rem 1.5rem;
        font-weight: 600;
        outline: none;
        color: var(--input-clr);
        &::placeholder {
          color: #31518f;
        }
        &-webkit-autofill {
          background: var(--input-bg);
        }
      }

      .iconVis {
        position: relative;
        display: flex;
        align-items: center;

        i {
          position: absolute;
          font-size: 3rem;
          color: var(--input-clr);
          right: 1rem;

          display: flex;
          align-items: center;
          justify-content: center;

          svg {
            width: auto;
            height: auto;
          }
        }
      }
    }

    .error {
      color: var(--accent-clr);
      font-size: 1.2rem;
      margin-top: 0.4rem;
      position: absolute;
      bottom: 6rem;
    }

    .link {
      position: absolute;
      bottom: 2.4rem;
      right: 2rem;
      width: fit-content;
      font-size: 1.2rem;
      color: var(--input-clr);
      border-bottom: 1px solid var(--input-clr);
      font-weight: 500;
    }
  }

  .submitWrap {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    button[type="submit"] {
      @include Box.btnStyle($w: 28rem, $fontS: 2rem, $borderR: 100px);
      font-weight: 700;
    }
  }
}
