:root {
  --main-color: #536b99;
  --accent-color: #f5f067;
  --white: #fbfbfb;
  --background-color: #192743;
  --radial-gradient: radial-gradient(
    50% 50% at 50% 50%,
    #4a6eb2 0%,
    #2c3951 100%
  );
  --footer-color: #0e244e;
  --border-stroke: 2px solid #3a3d8f;
  --neon-shadow: 0px 0px 4px 0px #3a3d8f; /* box-shadow */
  --glass-effect: 0px 0px 4px 4px rgba(255, 255, 255, 0.2); /* box-shadow */
  --glass-filter: blur(3px); /* backdrop-filter */
  --neon-stroke: #2745e1;
  --radial-gradient-two: radial-gradient(
    50.58% 50% at 49.87% 50%,
    #245bc3 0%,
    #0e244e 100%
  );
}

html,
body {
  font-size: 62.5%;
  max-width: 600px;
  height: 100vh;
  overflow: hidden;
  background-color: var(--background-color) !important;
  background-image: url(../../public/25.svg) !important;
}
