@use "Box.module" as Box;

.form {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding-top: 5rem;
  gap: 3rem;
  position: fixed;
  width: 100%;
  top: 12rem;

  .contentWrap {
    display: flex;
    flex-direction: column;
    position: relative;
    background-image: url("/Frame/descriptionFrame.svg");
    width: 90%;
    min-height: 35rem;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    padding: 2rem;
  }

  .buttons {
    position: relative;
    bottom: -4rem;

    .expirationTag {
      font-size: 1.2rem;
      padding-bottom: 1rem;
      color: #b9b9b9;
    }

    .create {
      @include Box.btnStyle($w: 18rem, $fontS: 1.8rem);
      font-weight: 400;
    }
  }

  .title {
    text-align: center;
    font-size: 1.8rem;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 60%;
    margin: 0 auto;
    position: relative;
    padding: 0.8rem 0.2rem;
    border-bottom: 1.4px solid;
    border-image: radial-gradient(
      418.25% 286.29% at 51.71% 13.71%,
      #727ff4 0%,
      #2745e1 20%
    );
    border-image-slice: 1;
  }

  .description {
    padding: 2rem 1rem;
    font-size: 1.6rem;
    overflow-y: scroll;
    text-overflow: ellipsis;
    display: -webkit-box;
    -webkit-line-clamp: 8; /* number of lines to show */
    -webkit-box-orient: vertical;
    line-height: 2.4rem;
  }

  .capacity {
    position: absolute;
    right: 1rem;
    top: 32.4rem;
    font-size: 1.8rem;
    background-image: url("/Frame/buttonFrame.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    width: 15rem;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    .currentUsers {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      p {
        font-family: "Play", sans-serif;
        color: var(--accent-clr);
      }
    }
  }
}
