.languages {
  display: flex;
  flex-direction: column;
}

.flagWrap {
  display: flex;
  border-radius: 0.5rem;
  gap: 1rem;
  flex-wrap: wrap;
  li {
    display: flex;
    gap: 0.6rem;
    background: #ffffff30;
    border-radius: 0.5rem;
    border: 2px solid #f3f3f360;
    box-shadow: 0px 0px 2px 2px rgba(255, 255, 255, 0.2);
    padding: 0.2rem 0.8rem;
  }
  img {
    width: 30px;
    height: 30px;
  }
}
