@use "Box.module" as Box;

.title {
  margin-top: 12rem;
  text-align: center;
  padding-bottom: 1.8rem;
  h1 {
    font-size: 2rem;
    font-weight: 700;
    padding-bottom: 1.4rem;
  }
  p {
    font-size: 1.4rem;
    color: #a3aaba;
    span {
      font-family: "Play", sans-serif;
    }
  }
}

.contentWrapper {
  position: relative;
  padding: 2rem 0;
  width: 100%;
  min-height: 44vh;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  z-index: 1;

  .frame {
    background-image: url("/Frame/inputFrame3.svg");
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
  }

  label {
    font-weight: 700;
    font-size: 1.6rem;
  }

  .content {
    width: 70%;
  }

  .caret {
    position: relative;

    &::after {
      content: "";
      position: absolute;
      z-index: 2;
      right: 0.8rem;
      top: 2.6rem;
      width: 2.2rem;
      height: 2.2rem;
      background-image: url("/Frame/caret-down.svg");
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
      transition: all 150ms ease-in-out;
    }
    select {
      &:focus {
        color: var(--accent-clr);
      }
    }
  }

  textarea {
    word-wrap: break-word;
    max-height: 300px;
    overflow: auto;
    resize: none;
    height: 5rem;
    border: var(--border-stroke);
    border-radius: 10px;
    background: rgba(12, 26, 52, 0.7);
  }

  select {
    border-bottom: var(--border-stroke);
    transition: all 150ms ease-in-out;
    position: relative;
    width: 100%;
    height: 100%;
  }

  select,
  textarea,
  input {
    font-size: 1.4rem;
    display: flex;
    padding: 0.6rem 0.8rem;
    width: 100%;
    outline: none;
    font-weight: 500;
    filter: drop-shadow(0px 0px 8px #353bdd);

    &:invalid,
    &::placeholder {
      color: var(--input-clr);
    }
  }
}

.submit {
  position: absolute;
  right: 2.6rem;
  top: 35rem;
  display: block;
  color: var(--accent-clr);
  width: 17rem;
  height: 6rem;
  background-image: url("/Frame/buttonFrame.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  padding: 0.8rem 1.6rem;
  font-size: 1.6rem;
  text-align: center;
  filter: drop-shadow(0px 0px 8px #353bdd);
  span {
    font-size: 2.6rem;
    position: absolute;
    right: 1.8rem;
    top: 1.7rem;
  }
}

.fetchedWords {
  width: 90%;
  margin: 0 auto;
  height: auto;
  display: flex;
  flex-direction: column;
  gap: 2rem;
  .wordContainer {
    @include Box.glassBox($fS: 1.6rem);
    .text {
      display: flex;
      align-items: flex-start;
      justify-content: space-between;
      .word {
        color: var(--accent-clr);
      }
    }
  }
}
