@use "Box.module" as Box;

.wrapper {
  color: var(--white);
  font-size: 2.6rem;
  width: 100%;
  height: 100vh;

  .mainVis {
    position: absolute;
    margin: 0 auto;
    top: 20rem;
    left: 50%;
    transform: translateX(-50%);
  }

  .footerWrap {
    width: 100%;
    position: absolute;
    align-items: center;
    bottom: 12rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-weight: 700;
    .registerBtn {
      @include Box.btnStyle($w: 20rem, $fontS: 2rem);
    }
    .loginBtn {
      width: 100%;
      font-size: 1.6rem;
    }
  }
}
