@use "Box.module" as Box;

.wrapper {
  position: fixed;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;

  .background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #33333080;
  }

  .border {
    width: 7rem;
    height: 4px;
    border-radius: 10px;
    position: absolute;
    top: 2.4rem;
    left: 50%;
    transform: translateX(-50%);
    background: var(--border-clr);
  }

  .content {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 55rem;
    background-image: url("/Frame/inputFrameSave1.svg");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-position: center;
    padding-top: 5rem;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-size: 1.6rem;
    z-index: 1;

    .title {
      font-size: 1.4rem;
      padding: 1rem 2rem;
      color: var(--text-sub);
    }

    .input {
      width: 85%;
      margin: 0 auto;
      display: flex;
      gap: 0.4rem;
      flex-direction: column;

      input {
        @include Box.futuristic();
      }
    }
    .button {
      display: flex;
      flex-direction: column;
      gap: 2rem;
      padding: 2rem 0;
      margin-top: 3rem;

      .save {
        @include Box.btnStyle($w: 40%, $fontS: 1.8rem);
        margin: 0 auto;
      }
    }
  }
}
