.wrapper {
  height: 6rem;
  width: 26rem;
  border-radius: 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  border: var(--white) 1px solid;
  background: var(--glass-background);
  box-shadow: var(--glass-effect);
  backdrop-filter: var(--glass-filter);
  padding: 0.6rem 1rem;

  .languages {
    h1 {
      font-weight: 600;
      font-size: 1.4rem;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
