.wrapper {
  height: 6rem;
  width: 26rem;
  border-radius: 1rem;
  position: absolute;
  top: 2rem;
  left: 2rem;
  background: var(--input-bg);
  border: var(--border-stroke);
  box-shadow: var(--border-shadow);
  border-radius: 10px;
  backdrop-filter: var(--glass-filter);
  padding: 0.6rem 1rem;

  .languages {
    h1 {
      font-weight: 600;
      font-size: 1.4rem;
      align-items: center;
      display: flex;
      gap: 0.6rem;
      span {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          height: 100%;
          width: 1.6rem;
        }
      }
    }
  }
}
