@use "Box.module" as Box;

.wrapper {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  .logo1 {
    width: 250px;
    height: 250px;
    background: url(../../public/Logo/Logo.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    animation: float1 3s ease-in-out infinite;
  }

  .middle {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    bottom: 8rem;
    gap: 1.8rem;
    .logo2 {
      width: 200px;
      height: 100px;
      background: url(../../public/Logo/SpaceLang.svg);
      background-repeat: no-repeat;
      background-size: contain;
      background-position: center;
    }
    .catchcopy {
      color: var(--white);
      text-align: center;
      font-size: 2rem;
      font-weight: 800;
      animation: textstroke 3s ease-in-out infinite;
    }
  }

  p {
    margin: 0 auto;
    font-size: 1.6rem;
    font-weight: 600;
    width: fit-content;
    animation: opacity 3s ease-in-out infinite;
  }
}

@keyframes float1 {
  0% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-10px);
  }
  100% {
    transform: translateY(0px);
  }
}

@keyframes opacity {
  0% {
    opacity: 0.1;
  }
  50% {
    opacity: 0.8;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0.1;
  }
}

@keyframes textstroke {
  0% {
    -webkit-text-stroke: 1px var(--border-clr);
  }
  50% {
    -webkit-text-stroke: none;
  }
  100% {
    -webkit-text-stroke: 1px var(--border-clr);
  }
}
