.wrapper {
  color: var(--white);
  position: relative;
  top: 10rem;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 40rem;
  text-align: center;
  .catchphrase {
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  .footerWrap {
    background: var(--main-color);
    font-size: 1.6rem;
    width: 100%;
    padding: 2rem;
    position: relative;
    left: 0;
    bottom: 0;
    border: solid 1px tomato;
  }
}
